.mainNav_ItemContainer .mainNav_MenuContainer {
  border: 1px solid black;
}


.mainNav_MenuContainer {
    display: flex;
    align-items: center;
}
.mainNav_MenuContainer p{
  float: right;
}

.mainNav_ItemContainerHidden {
  display: none;
}
  
@media (min-width: 500px) {


    
    .mainNav_MenuContainer {
      display: none;
    }
    
    .mainNav_ItemContainer {
        display: flex;
        margin: auto;
      }
      


    .mainNav_ItemContainer ol {
        display: flex;
        margin: auto;
    }
      
}