.exerciseItemFigure {
    border:1px solid black;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.exerciseItemImg {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media(min-width:600px){
    .exerciseItemFigure {
      width:25%;
    }
  }