#header_Container {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

@media (min-width: 500px) {
  
    #header_Container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
}